<section>
		<h3>Puede escoger entre los siguientes reportes</h3>
		<br/>
		<br/>
		<br/>
		<a href="/catdog/razas/reporte" class="btn btn-success" target="blank">Peludos por raza</a>
		<a href="/catdog/especie/reporte" class="btn btn-success" target="blank">Peludos por especie</a>
		<a href="/catdog/fichaPaciente/reporte" class="btn btn-success" target="blank">Listado de Peludos</a>
		<a href="/catdog/padrinos/reporte" class="btn btn-success" target="blank">Listado de padrinos</a>
</section>