
<script>
$(function(){
		$('#EditarPeludos').on('submit', function(){

			cvar = confirm("Esta seguro que desea guardar los cambios realizados");
			if (!cvar) return false;

		});
	});
</script>

<!-- START ficha -->
<form name="frmEditarFicha" method="POST" id="EditarPeludos" action="/catdog/fichaPaciente/guardarCambios">
	<fieldset>
		<div class="panel-heading" style="background-color: rgb(245, 245, 245);">
			<h3>Editar ficha</h3>
		</div>
		<div class="panel-body">
		<table style="margin: 0 auto;text-align:right;">
			<tr>
				<td>*Nombre: </td>
				<td><input type="text" class="form-control" pattern="^\D+$" name="nombrePeludo" value="{nombrePeludo}" autofocus maxlength="45" required /></td>
			</tr>
			<tr>
				<td>*Edad estimada: </td>
				<td><input type="text" pattern="^[0-9]{1,7}" class="form-control" value="{edadEstimada}" name="edadEstimada"  required />
					<input type="radio" name="medidaEdad" checked="checked" value="3">A&ntilde;os </input>
					<input type="radio" name="medidaEdad" value="4">Meses </input>
				</td>
			</tr>
			<tr>
				<td>Peso (en libras):</td>
				<td><input type="text" pattern="^[0-9]{1,4}(\.[0-9]{0,2})?$" name="Peso" value="{Peso}" maxlenght="8" class="form-control" /></td>
			</tr>
			<tr>
				<td>*Motivo de entrada: </td>
				<td>
					<textarea columns="10" class="form-control" rows="6" name="motivoEntrada" required>
						{motivoEntrada}
					</textarea>
				</td>
			</tr>
			<tr>
				<td>*Motivo de salida: </td>
				<td>
					<textarea columns="10" class="form-control" rows="6" name="motivoSalida" required>
						{motivoSalida}
					</textarea>
				</td>
			</tr>
			<input type="hidden" name="idfichaPaciente" value="{idfichaPaciente}" />
			<tr>
				<td>*Raza: </td>
				<td>
					<select name="raza" id="raza" class="form-control">
						<!-- START razaPeludos -->
						<option value="{idrazas}">{nombreRaza} </option>
						<!-- END razaPeludos -->
					</select>
				</td>
			</tr>
			<script type="text/javascript">
				$(document).ready(function(){
					$('#raza option[value='+{raza}+']').attr("selected","selected");
				});
			</script>
			<tr>
				<td>*Especie: </td>
				<td>
					<select name="especie" id="especie" class="form-control">
						<!-- START especiePeludos -->
						<option value="{idespecie}">{nombreEspecie} </option>
						<!-- END especiePeludos -->
					</select>
				</td>
			</tr>
			<script type="text/javascript">
				$(document).ready(function(){
					$('#especie option[value='+{especie}+']').attr("selected","selected");
					if("{desparasitado}"=="No"){
						$('input:radio[name=desparasitado]')[1].checked = true;
					}else if("{desparasitado}"=="Si"){
						$('input:radio[name=desparasitado]')[0].checked = true;
					}else{
						$('input:radio[name=desparasitado]')[2].checked = true;
					}

					if("{castrado}"=="No"){
						$('input:radio[name=castrado]')[1].checked = true;
					}else if("{castrado}"=="Si"){
						$('input:radio[name=castrado]')[0].checked = true;
					}else{
						$('input:radio[name=castrado]')[2].checked = true;
					}

					if("{enTratamiento}"=="No"){
						$('input:radio[name=enTratamiento]')[1].checked = true;
					}else if("{enTratamiento}"=="Si"){
						$('input:radio[name=enTratamiento]')[0].checked = true;
					}else{
						$('input:radio[name=enTratamiento]')[2].checked = true;
					}

					if("{procesoAdopcion}"=="No"){
						$('input:radio[name=procesoAdopcion]')[1].checked = true;
					}else if("{procesoAdopcion}"=="Si"){
						$('input:radio[name=procesoAdopcion]')[0].checked = true;
					}
				});
			</script>
			<tr>
				<td>*Castrado:</td>
				<td>
					<input type="radio" name="castrado" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="castrado" value="No">No </input>
					<input type="radio" name="castrado" value="No se sabe">No se sabe </input>
				</td>
			</tr>
			<tr>
				<td>*Desparasitado:</td>
				<td>
					<input type="radio" name="desparasitado" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="desparasitado" value="No">No </input>
					<input type="radio" name="desparasitado" value="No se sabe">No se sabe </input>
				</td>
			</tr>
			<tr>
				<td>*Est&aacute; en tratamiento?</td>
				<td>
					<input type="radio" name="enTratamiento" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="enTratamiento" value="No">No </input>
					<input type="radio" name="enTratamiento" value="No se sabe">No se sabe </input>

				</td>
			</tr>
			<tr>
				<td>Padrino</td>
				<td>
					<select name="padrino" class="form-control">
					<!-- START padrinosPeludos -->
						<option value="{idpadrinos}">{nombrePadrino}</option>
					<!-- END padrinosPeludos -->
					</select>
				</td>
			</tr>
			<tr>
				<td>*En proceso de adopci&oacute;n?</td>
				<td>
					<input type="radio" name="procesoAdopcion" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="procesoAdopcion" value="No" >No </input>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top:20px;">
					<input type="submit" value="Actualizar peludo" class="btn btn-primary" />
				</td>
			</tr>
			<!-- END ficha -->
		</table>
		</div>
	</fieldset>
</form>
