<script>
$(function (){
	$('#frmdiagnostico').on('submit', function() {
		ConfVar= confirm("Esta seguro que desea Actualizar este registro?");
			if(!ConfVar) 
			return false;
			});
			});
</script>
<!-- START listaDatos -->
<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/fichaPaciente/listadoPeludo">Listado de peludos</a></li>
            <li><a href="/catdog/historiaMedica/agregarDiagnostico?id={idPaciente}">Diagn&oacute;stico</a></li>
            <li class="active">Editar</li>
</ol>
<section>
	<form id="frmdiagnostico" action="/catdog/historiaMedica/guardarCambios" method="POST">
	<fielset>
		
		<h3>Datos del paciente</h3>
	
		<label for="idPaciente">Paciente No.</label> <input type="text" id="idPaciente" class="form-control" name="idPaciente" value="{idPaciente}" readonly />
		Nombre: <input type="text" class="form-control" name="nombrePeludo" value="{nombrePeludo}" style="width: 200px;" readonly />
		<br />
		G&eacute;nero: <input type="text" class="form-control" name="genero" value="{Genero}" style="width: 200px;"  readonly />
		<br />
		Edad: <input type="text" class="form-control" name="edadEstimada" value="{edadEstimada}" style="width: 200px;"  readonly />
		<br />
	</fieldset>
		<h3>Diagn&oacute;stico </h3>
		<table class="table">
			<tr>
					<td>C&oacute;digo diagn&oacute;stico: </td>
					<td><input type="text" class="form-control" name="idHistoriaMedica" value="{idhistoriaMedica}" readonly /></td>
			</tr>
			<tr>
					<td>*Diagn&oacute;stico recibido:</td>
					<td>
						<textarea name="diagnosticoClinico" class="form-control" cols="20" rows="10" value="{diagnosticoClinico}">{diagnosticoClinico}</textarea>
					</td>
			</tr>
			<tr>
					<td>*Fecha del diagn&oacute;stico:</td>
					<td>
						<input type="date" class="form-control" name="fechaDiagnostico" value="{fechaDiagnostico}" />
					</td>
			</tr>
			</table>
			<input type="submit" class="btn btn-primary" value="Actualizar diagnostico" />
		</form> 
		<!-- END listaDatos -->
</section>