<script>
$(function(){
		$('#editarPadrino').on('submit', function(){

			cvar = confirm("Esta seguro que desea guardar los cambios realizados");
			if (!cvar) return false;

		});
	});
</script>
<section align="center">
	<form action="/catdog/padrinos/guardarCambios" id="editarPadrino" method="POST">
	<fielset>
		<legend>Ingresar Datos de padrino </legend>
			<table>
			<!-- START listaPadrinos -->
				<tr>
					<td>C&oacute;digo de padrino:</td>
					<td>
						<input type="text" class="form-control" name="idpadrinos" value="{idpadrinos}" readonly />
					</td>
				</tr>
				<tr>
					<td>*Nombre completo:</td>
					<td>
						<input type="text" class="form-control" name="nombrePadrino" value="{nombrePadrino}" autofocus required />
					</td>
				</tr>
				<tr>
					<td>*Tel&eacute;fono de contacto</td>
					<td><input type="tel" class="form-control" name="telefonoContacto" value="{telefonoContacto}" /></td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><input type="email" class="form-control" name="email" value="{email}" required /></td>
				</tr>
				<tr>
					<td>*Tipo de padrino:</td>
					<td>
						<select name="tipo_padrino" class="form-control">
							<option value="Padrino">Padrino</option>
							<option value="Socio">Socio</option>
						</select>
					</td>
					<td>
						<b>Valor actual </b>
						<p>{tipo_padrino}</p>
					</td>
				</tr>
				<tr>
					<td>*Cuota $ d&oacute;lares)</td>
					<td>
						<input type="text" pattern="^[0-9]{1,4}(\.[0-9]{0,2})?$" name="cuota" class="form-control" value="{cuota}"/>
					</td>
					
				</tr>
				<tr>
				<tr>
					<td>
						<input type="submit" class="btn btn-primary" value="Actualizar padrino" />
					</td>
				</tr>
			</table>
			<!-- END listaPadrinos -->
	</fielset>
</form> 
</section>