<style>
	table td{
		padding-left: 20px;
		padding-bottom: 5px; 
	}
</style>

<script>
$(function (){
	$('#fichaPaciente').on('submit', function() {
		ConfVar= confirm("Esta seguro que desea ingresar a un Peludo");
			if(!ConfVar) 
			return false;
			});
			});
</script>

<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li class="active">Nuevo Peludo</li>
</ol>
<script type="text/javascript">
	$(function(){
		urlHandler = new url_handler();
		urlHandler.initialize();
		if(urlHandler.isKey('conf')){
				$('#AlertaDeExito').html('Registro agregado exitosamente');
				$('#AlertaDeExito').css('display','block');	
		}
	});
</script>
<section >
	<form action="/catdog/fichaPaciente/guardarPeludo" id="fichaPaciente"  method="post" class="panel panel-primary">
	<fieldset>
		<div class="panel-heading" style="background-color: rgb(245, 245, 245);">
			<h3>Ficha de peludo </h3>
			<button style="float:right;" class="btn btn-primary" onclick="verLista(event);">
				Ver listado
			</button>
		</div>
		<div class="panel-body">
		<table style="margin: 0 auto;text-align:right;">
			<tr>
				<td>*Nombre: </td>
				<td><input type="text" class="form-control" pattern="^\D+$" name="nombrePeludo" autofocus maxlength="45" required /></td>
			</tr>
			<tr>
				<td>*Edad estimada: </td>
				<td><input type="text" pattern="^[0-9]{1,7}" class="form-control" name="edadEstimada" required />
					<input type="radio" name="medidaEdad" checked="checked" value="3">A&ntilde;os </input>
					<input type="radio" name="medidaEdad" value="4">Meses </input>
				</td>
			</tr>
			<tr>
				<td>*G&eacute;nero: </td>
				<td>
					<select name="Genero" class="form-control">
						<option value="H">Hembra </option>
						<option value="M">Macho  </option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Color de pelo: </td>
				<td>
					<input type="radio" name="colorPelo" value="Negro" checked="checked">Negro 			 </input>
					<input type="radio" name="colorPelo" value="Caf&eacute;">Caf&eacute; </input>
					<input type="radio" name="colorPelo" value="Blanco" > Blanco		 </input>
					<input type="radio" name="colorPelo" value="otro" onClick=""> Otro 					 </input>
					<!--<input type="text"  name="colorPelo" maxlenght="45" />-->
				</td>
			</tr>
			<tr>
				<td>Color de ojos: </td>
				<td>
					<input type="radio" name="colorOjos" value="Negro" checked="checked">Negro 			 </input>
					<input type="radio" name="colorOjos" value="Caf&eacute;">Caf&eacute; </input>
					<input type="radio" name="colorOjos" value="Blanco" > Blanco		 </input>
					<input type="radio" name="colorOjos"      value="otro"onClick=""> Otro 					 </input>
					<!--<input type="text"  name="colorOjos" maxlenght="45" />-->
				</td>
			</tr>
			<tr>
				<td>Peso (en libras):</td>
				<td><input type="text" pattern="^[0-9]{1,4}(\.[0-9]{0,2})?$" name="Peso" maxlenght="8" class="form-control" /></td>
			</tr>
			<tr>
				<td>*Raza: </td>
				<td>
					<select name="raza">
						<!-- START razaPeludos -->
						<option value="{idrazas}">{nombreRaza} </option>
						<!-- END razaPeludos -->
					</select>
				</td>
			</tr>
			<tr>
				<td>*Especie: </td>
				<td>
					<select name="especie" class="form-control">
						<!-- START especiePeludos -->
						<option value="{idespecie}">{nombreEspecie} </option>
						<!-- END especiePeludos -->
					</select>
				</td>
			</tr>
			<tr>
				<td>*Motivo de entrada: </td>
				<td>
					<textarea columns="10" class="form-control" rows="6" name="motivoEntrada" required>
					</textarea>
				</td>
			</tr>
			<tr>
				<td>*Castrado:</td>
				<td>
					<input type="radio" name="castrado" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="castrado" value="No">No </input>
					<input type="radio" name="castrado" value="No se sabe">No se sabe </input>
				</td>
			</tr>
			<tr>
				<td>*Desparasitado:</td>
				<td>
					<input type="radio" name="desparasitado" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="desparasitado" value="No">No </input>
					<input type="radio" name="desparasitado" value="No se sabe">No se sabe </input>
				</td>
			</tr>
			<tr>
				<td>*Est&aacute; en tratamiento?</td>
				<td>
					<input type="radio" name="enTratamiento" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="enTratamiento" value="No">No </input>
					<input type="radio" name="enTratamiento" value="No se sabe">No se sabe </input>

				</td>
			</tr>
			<tr>
				<td>Padrino</td>
				<td>
					<select name="padrino" class="form-control">
					<!-- START padrinosPeludos -->
						<option value="{idpadrinos}">{nombrePadrino}</option>
					<!-- END padrinosPeludos -->
					</select>
				</td>
			</tr>
			<tr>
				<td>*En proceso de adopci&oacute;n?</td>
				<td>
					<input type="radio" name="procesoAdopcion" checked="checked" value="Si">S&iacute; </input>
					<input type="radio" name="procesoAdopcion" value="No" >No </input>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top:20px;">
					<input type="submit" value="Registrar peludo" class="btn btn-primary" />
				</td>
			</tr>
		</table>
		</div>
	</fieldset>
	</form>
</section>
<script>
	function verLista(event)
	{
		event.preventDefault();
		location.href="/catdog/fichaPaciente/listadoPeludo";
	}
</script>