<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/fichaPaciente/listadoPeludo">Listado de peludos</a></li>
            <li class="active">Medicamentos</li>
</ol>

<section>
	<h3>Asignar medicamento</h3>
	<form id="frmmedicinas" action="/catdog/medicinasPaciente/guardar" method="post">
		<label>Paciente: </label>
		<input type="text" class="form-control" value="{idPaciente}" name="idPaciente" readonly>
		<label>Medicamento: </label>
		<select class="form-control" name="idMedicinas">
			<!-- START listaMedicinas -->
				<option value="{idMedicinas}">{nombreMedicina}</option>
			<!-- END listaMedicinas -->
		</select>
		<label>Estado: </label>
		<select name="estado" class="form-control">
			<option value="Aplicada">Aplicada </option>
			<option value="No aplicada">No aplicada </option>
		</select>
		<br/>
		<button class="btn btn-primary">Asignar</button>
	</form>
	<br/>
	<br/>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>
					Medicamento
				</th>
				<th>
					Estado
				</th>
				<th>
					Fecha de aplicaci&oacute;n
				</th>
			</tr>
		</thead>
		<!-- START medicamentosPaciente -->
			<tr>
				<td>
					{nombreMedicina}
				</td>
				<td>
					{estado}
				</td>
				<td>
					{fecha}
				</td>
			</tr>
		<!-- END medicamentosPaciente -->
	</table>
</section>

<script type="text/javascript">
	 $(function(){
               urlHandler = new url_handler();
               urlHandler.initialize();
               if(urlHandler.isKey('conf'))
               {
                               $('#AlertaDeExito').html('Registro agregado exitosamente');
                               $('#AlertaDeExito').css('display','block');        
               }
               if(urlHandler.isKey('up'))
               {
               		$('#AlertaDeAdvertencia').html('Registro modificado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
                if(urlHandler.isKey('del'))
               {
               		$('#AlertaDeAdvertencia').html('Registro eliminado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
       });
	   
	       function validar(event,id)
    {
   
</script>

<script>
$(function (){
	$('#frmmedicinas').on('submit', function() {
		ConfVar= confirm("Esta seguro que desea ingresar este Registro?");
			if(!ConfVar) 
			return false;
			});
			});
</script>