
<style>
	table td{
		padding-left: 15px;
	}
</style>
<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li class="active">Medicamentos</li>
</ol>
<section align="center">
	<form action="/catdog/medicinas/guardar" id="nuevaMedicina" method="POST">
	<fieldset>
		<legend>Ingresar Medicina </legend>
			<table >
				<tr>
					<td><label>*Nombre medicina: </label></td>
					<td>
						<input type="text" required class="form-control" name="nombreMedicina" />
					</td>
				</tr>
				<tr>
					<td><label>*Cantidad: </label></td>
					<td><input type="text"  pattern="^[0-9]{1,4}(\.[0-9]{0,2})?$" required class="form-control" name="cantidad" /></td>
				</tr>
				<tr>
					<td><label>Medida: </label></td>
					<td>
						<select name="idMedida" class="form-control">
							<option value="5">Mililitros </option>
							<option value="6">Cajas </option>
							<option value="7">Ampolletas </option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						Campos marcados con (*) son obligatorios
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					<br/>
						<input type="submit" class="btn btn-primary" value="Registrar Medicina" />
					</td>
				</tr>
			</table>
	</fieldset>

	<fieldset>
		<legend>Opciones </legend>
		<table class="table table-striped table-bordered">
			<tr>
				<td align="center">C&oacute;digo medicina: </td>
				<td align="center">Nombre medicina 		   </td>
				<td align="center">Cantidad                </td>
				<td align="center">Opci&oacute;n 		   </td>
			</tr>
			<!-- START listaMedicinas -->
				<tr>
					<td align="center">{idMedicinas} </td>
					<td align="center">{nombreMedicina} </td>
					<td align="center">{cantidad} {nombreMedida} </td>
					<td align="center"><a href="/catdog/medicinas/editar?id={idMedicinas}">Editar</a> | <a href="javascript:void(0);" onclick="validar(event,'{idMedicinas}')">Eliminar</a>
					</td>
				</tr>
			<!-- END listaMedicinas -->
		</table>
	</fieldset>
</form> 
</section>
<script>
	 $(function(){
               urlHandler = new url_handler();
               urlHandler.initialize();
               if(urlHandler.isKey('conf'))
               {
                               $('#AlertaDeExito').html('Registro agregado exitosamente');
                               $('#AlertaDeExito').css('display','block');        
               }
               if(urlHandler.isKey('up'))
               {
               		$('#AlertaDeAdvertencia').html('Registro modificado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
                if(urlHandler.isKey('del'))
               {
               		$('#AlertaDeAdvertencia').html('Registro eliminado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
       });
	  
  $(function (){
	$('#nuevaMedicina').on('submit', function() {
		ConfVar= confirm("Esta seguro que desea ingresar una nueva Medicina");
			if(!ConfVar) 
			return false;
			});
			});
   function validar(event,id)
   {

        cvar= confirm("Esta seguro que desea eliminar dicho registro?");
        if (cvar)
        {
           location.href ="/catdog/medicinas/eliminar?id=" + id;            
        }
    };

</script>