<style>
	table td{
		padding-left: 0px;
	}
</style>

<script>

var patron_telefono = new Array(4,4);


function mascara(d,sep,pat,nums){
    if(d.valant != d.value){
      val = d.value
      largo = val.length
      val = val.split(sep)
      val2 = ''
      for(r=0;r<val.length;r++){
        val2 += val[r]  
      }
      if(nums){
        for(z=0;z<val2.length;z++){
          if(isNaN(val2.charAt(z))){
            letra = new RegExp(val2.charAt(z),"g")
            val2 = val2.replace(letra,"")
          }
        }
      }
      val = ''
      val3 = new Array()
      for(s=0; s<pat.length; s++){
        val3[s] = val2.substring(0,pat[s])
        val2 = val2.substr(pat[s])
      }
      for(q=0;q<val3.length; q++){
        if(q ==0){
          val = val3[q]
        }
        else{
          if(val3[q] != ""){
            val += sep + val3[q]
          }
        }
      }
      d.value = val
      d.valant = val
    }
  }
</script>

<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li class="active">Padrinos</a></li>
</ol>
<button class="btn btn-primary" onclick="location.href='/catdog/donaciones/formularioListar'" style="float: right;">Lista de donaciones</button>
<br />
<section align="center">
	<form action="/catdog/padrinos/guardar"  id="padrinos" method="POST">
	<fielset>
		<legend>Ingresar Datos de padrino </legend>
			<table>
				<tr>
					<td>*Nombre completo:</td>
					<td>
						<input type="text" class="form-control" name="nombrePadrino" autofocus required />
					</td>
				</tr>
				<tr>
					<td>*Tel&eacute;fono de contacto</td>
					<td><input type="text" onkeyup="mascara(this,'-',patron_telefono,true)" maxlength="9" class="form-control" name="telefonoContacto" required /></td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><input type="email" class="form-control" name="email" /></td>
				</tr>
				<tr>
					<td>*Tipo de padrino:</td>
					<td>
						<select name="tipo_padrino" class="form-control">
							<option value="Padrino">Padrino</option>
							<option value="Socio">Socio</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>*Cuota ($ d&oacute;lares)</td>
					<td>
						<input type="text" pattern="^[0-9]{1,4}(\.[0-9]{0,2})?$" name="cuota" class="form-control" />
					</td>
					
				</tr>
				<tr>
					<td>
						<input type="submit" class="btn btn-primary" value="Registrar padrino" />
					</td>
				</tr>

			</table>
	</fielset>

	<fieldset>
		<legend>Opciones </legend>
		<table class="table">
			<tr>
				<td align="center">C&oacute;digo padrino:         </td>
				<td align="center">Nombre:	     		          </td>
				<td align="center">Tel&eacute;fono de contacto    </td>
				<td align="center">E-mail			    		  </td>
				<td align="center">cuota			    		  </td>
				<td align="center">Opciones						  </td>
			</tr>
			<!-- START listaPadrinos -->
				<tr>
					<td align="center">{idpadrinos} </td>
					<td align="center">{nombrePadrino} </td>
					<td align="center">{telefonoContacto} </td>
					<td align="center">{email} 			  </td>
					<td align="center">{cuota} 			  </td>
					<td align="center"><a href="/catdog/padrinos/editar?id={idpadrinos}">Editar</a> | <a href="/catdog/padrinos/eliminar?id={idpadrinos}">Eliminar</a>
					</td>
				</tr>
			<!-- END listaPadrinos -->
		</table>
	</fieldset>
</form> 
</section>
<script>
	 $(function(){
               urlHandler = new url_handler();
               urlHandler.initialize();
               if(urlHandler.isKey('conf'))
               {
                               $('#AlertaDeExito').html('Registro agregado exitosamente');
                               $('#AlertaDeExito').css('display','block');        
               }
               if(urlHandler.isKey('up'))
               {
               		$('#AlertaDeAdvertencia').html('Registro modificado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
                if(urlHandler.isKey('del'))
               {
               		$('#AlertaDeAdvertencia').html('Registro eliminado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
       });
	   
	     $(function (){
	$('#padrinos').on('submit', function() {
		ConfVar= confirm("Esta seguro que desea ingresar un Padrino");
			if(!ConfVar) 
			return false;
			});
			});
			
</script>