<style>
	table td{
		padding-left: 10px;
	}
</style>

<script>

	$(function(){
		$('#formulario').on('submit', function(){

			cvar = confirm("Esta seguro que desea agregar la donacion");
			if (!cvar) return false;

		});

		$('#idinsumos').change();

	});

	function cambiarMedida(event){
		uri = '/catdog/insumos/cambiarMedidaAjax';

		data = {
			"idinsumos":$('#idinsumos').val()
		};

		httpRequest = $.post(uri,data,function(data){
			$('#NombreDeLaMedida').html(data.medida);
		},"json"); 
	}

</script>

<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/donaciones/panel">Panel</a></li>
            <li class="active">Nueva donaci&oacute;n</li>
</ol>
<button class="btn btn-primary" onclick="verLista(event);" style="float: right;">Lista de donaciones</button>
<br />
<form id="formulario" action="/catdog/donaciones/guardarDonaciones" method="POST" >
	<table>
		<tr>
			<td><label>*Insumo: </label></td>
			<td>
				<select name="idinsumos" id="idinsumos" class="form-control" onchange="cambiarMedida(event);">
						<!-- START combo -->
						<option value="{idinsumos}">{nombre_insumo}</option>
						<!-- END combo -->
				</select>
			</td>
		</tr>

		<tr>
			<td><label>*Tipo Donacion: </label></td>
			<td>
				<select name="tipoDonacion" class="form-control" required>
						<!-- START comboDonacion -->
						<option value="{idtipoDonacion}">{tipoDonacion} </option>
						<!-- END comboDonacion -->
				</select>
			</td>
		</tr>


		<tr>
			<td><label>*Cantidad: (<span id="NombreDeLaMedida" style="color:#ff0000;"></span>) </label></td>
						
			<td>
				<input type="text" pattern="^[0-9]{1,4}(\.[0-9]{0,2})?$" name="cantidadDonacion" class="form-control" required/> 
			</td>
		</tr>

		<tr>
			<td><label>*Fecha Donaci&oacute;n: </label></td>
			<td>
				<input type="date" name="fechaDonacion" class="form-control" required/>
			</td>
		</tr>

		<tr>
			<td><label>Donador: </label></td>
			<td>
				<input type="text" name="donador" class="form-control" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Campos marcados con (*) son obligatorios
			</td>
		</tr>

		<tr>
			<td colspan="2" style="text-align:right">
			<br/>
				<input type="reset" value="Limpiar" class="btn btn-default"/>
				<input type="submit" value="Guardar" class="btn btn-primary"/>	
			</td>
		</tr>
	</table>
</form>
<script>
	function verLista(event)
	{
		event.preventDefault();
		location.href="/catdog/donaciones/formularioListar";
	}
</script>