<style>
	table td{
		padding-left: 15px;
	}
</style>


<script>
	$(function(){
		$('#formulario').on('submit', function(){

			cvar = confirm("Esta seguro que desea agregar el insumo");
			if (!cvar) return false;

		});
	});
</script>


<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/insumos/panel">Panel</a></li>
            <li class="active">Nuevo insumo</li>
</ol>
<form id ="formulario" action="/catdog/insumos/guardarInsumos" method="POST" >
	<table >
		<tr>
			<td><label>*Tipo Insumo: </label></td>
			<td>
				<select name="tipoInsumo" class="form-control">
						<!-- START combo -->
						<option value="{idtipoInsumos}">{tipoInsumo} </option>
						<!-- END combo -->
				</select>
			</td>
		</tr>
		<tr>
			<td><label>*Nombre de insumo:</label>
			<td>
				<input type="text" class="form-control" name="nombre_insumo" required />
			</td>
		</tr>
		<tr>
			<td><label>*Cantidad: </label></td>
						
			<td>
				<input type="text" name="cantidadTotal" class="form-control" required/>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Campos marcados con (*) son obligatorios
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:right;">
				<br/>
				<input type="reset" value="Limpiar" class="btn btn-default"/>
				<input type="submit" value="Guardar" class="btn btn-primary"/>	
			</td>
		</tr>
	</table>
</form>