<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li class="active">Lista de insumos</li>
</ol>
<script type="text/javascript">
  function cargarValores(event){
    event.preventDefault();
    _id = $('#idinsumos').val();
    uri = '/catdog/insumos/datosInsumosAjax/';
    ajaxRequest = $.post(uri,{idinsumos:_id},function(data){
      if(data.status==200){
        $('#nombre_insumo').val(data.nombre_insumo);
        $('#nombre_insumo').attr("disabled","disabled");
        $("#tipoInsumo option[value="+data.tipoInsumo+"]").attr("selected",true);
        $('#tipoInsumo').attr("disabled","disabled");
        if(_id.trim()==""){
          $('#nombre_insumo').removeAttr("disabled");
          $('#tipoInsumo').removeAttr("disabled");
        }
      }else{
        $('#nombre_insumo').removeAttr("disabled");
        $('#tipoInsumo').removeAttr("disabled");
        $('#nombre_insumo').val('');
      }
    },"json");
  }
</script>
<div style="display:table;width:1200px;">
  <table class="table table-striped table-bordered" style="width:60%;float:left">

    <tr>
      <td>Id</td><td>Insumo</td><td>Cantidad</td><td>Opciones</td>
    </tr>

    <!-- START lista_tipoInsumos -->
      <tr>
        <td>{idinsumos}</td><td>{nombre_insumo}</td><td>{cantidadTotal} {nombreMedida}</td><td>
        <a href="javascript:void(0);" onclick="validar(event,'{idinsumos}');"><i class="glyphicon glyphicon-remove"></i>
          Eliminar</a>
        |
        <a href="/catdog/insumos/modificarInsumos?id={idinsumos}"><i class="glyphicon glyphicon-edit"></i>
          Modificar</a>
      </td>
      </tr>
    <!-- END lista_tipoInsumos -->

  </table>
  <style type="text/css">
    #tblg td{
      padding-left: 10px;
    }
  </style>
  <div style="witdh:35%;float:left;padding-left:40px;">
    <form action="/catdog/insumos/guardarInsumos" method="POST" style="border:solid 1px #D3D3D3;padding:20px;">
      <div style="background:#E3E3E3;padding:5px;margin-bottom:15px;">Nuevo insumo</div>
      <table id="tblg">
        <tr>
          <td><label>Id: (vac&iacute;o = nuevo insumo)</label></td>
          <td>
            <input type="number" class="form-control" id="idinsumos" name="idinsumos" onchange="cargarValores(event);"  />
          </td>
        </tr>
        <tr>
          <td><label>*Tipo Insumo: </label></td>
          <td>
            <select name="tipoInsumo" id="tipoInsumo" class="form-control">
                <!-- START combo -->
                <option value="{idtipoInsumos}">{tipoInsumo} </option>
                <!-- END combo -->
            </select>
          </td>
        </tr>
        <tr>
          <td><label>*Nombre de insumo:</label>
          <td>
            <input type="text" id="nombre_insumo" class="form-control" name="nombre_insumo" required />
          </td>
        </tr>
        <tr>
          <td><label>*Cantidad: </label></td>
                
          <td>
            <input type="number" step="any"  name="cantidadTotal" class="form-control" required/>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Campos marcados con (*) son obligatorios
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:right;">
            <br/>
            <input type="submit" value="Guardar" class="btn btn-primary"/>  
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<script>
   $(function(){
               urlHandler = new url_handler();
               urlHandler.initialize();
               if(urlHandler.isKey('conf'))
               {
                               $('#AlertaDeExito').html('Registro agregado exitosamente');
                               $('#AlertaDeExito').css('display','block');        
               }
               if(urlHandler.isKey('up'))
               {
                  $('#AlertaDeAdvertencia').html('Registro modificado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
                if(urlHandler.isKey('del'))
               {
                  $('#AlertaDeAdvertencia').html('Registro eliminado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
       });

  function validar(event,id)
    {

        cvar= confirm("Esta seguro que desea eliminar dicho registro");
        if (cvar)
        {
            location.href ="/catdog/insumos/listarInsumos?id=" + id ;            
        }
    };


</script>