<style>
	table td{
		padding-left: 15px;
	}
</style>

<script>

	$(function(){
		$('#formulario').on('submit', function(){

			cvar = confirm("Esta seguro que desea guardar los cambios realizados");
			if (!cvar) return false;

		});
	});


</script>

<form id="formulario" action="/catdog/insumos/GuardarModificarInsumos" method="POST" >
	<table >
		<!-- START lista_modificar -->
		<tr>
			<td><label>Id : </label></td>
			<td><input type="text" class="form-control" name="idtipoInsumos" value="{idinsumos}" readonly /></td>
		</tr>
		<tr>
			<td><label>*Nombre de insumo:</label>
			<td>
				<input type="text" class="form-control" name="nombre_insumo" value="{nombre_insumo}" required />
			</td>
		</tr>

	<!-- END lista_modificar -->

		<tr>
			<td><label>Tipo Insumo: </label></td>
			<td>
				<select name="tipoInsumo" class="form-control">
						<!-- START combo -->
						<option value="{idtipoInsumos}">{tipoInsumo} </option>
						<!-- END combo -->
				</select>
			</td>
			<td>
				<!-- START tipo_actual -->
				<strong>Valor actual:</strong>
				<p>{tipoInsumo}</p>
				<!-- END tipo_actual -->
			</td>
		</tr>

		<tr>
			<td colspan="2" style="text-align:right;">
				<br/>
				<input type="reset" value="Limpiar" class="btn btn-default"/>
				<input type="submit" value="Guardar" class="btn btn-primary"/>	
			</td>
		</tr>
	</table>
</form>