<style>
	table td{
		padding-left: 15px;
	}
</style>
<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li class="active">Usuarios</li>
</ol>

<section align="center">
	<form action="/catdog/usuarios/guardar" id="ingresoUsuarios" method="POST">
	<fieldset>
		<legend>Ingresar Usuario </legend>
			<table >
				<tr>
					<td><label>*Nick Name:  <span id="estatusUsuario"></span> </label></td>
					<td>
						<input type="text" id="usuarioV"  required class="form-control" name="nickname" />
					</td>
				</tr>
				<tr>
					<td><label>*Password: <span id="estatusClave"></span> </label></td>
					<td><input type="password" id="claveV" required class="form-control" name="password" /></td>
				</tr>
				<tr>
					<td><label>*Nombres: </label></td>
					<td><input type="text" required class="form-control" name="nombre" /></td>
				</tr>
				<tr>
					<td><label>*Apellidos: </label></td>
					<td><input type="text" required class="form-control" name="apellidos" /></td>
				</tr>
				
				<tr>
					<td><label>Tipo de Usuario: </label></td>
					
				<td>
					<select name="tipoUsuario" class="form-control">
							<!-- START combo -->
							<option value="{idtipoUsuario}">{tipoUsuario} </option>
							<!-- END combo -->
					</select>
				</td>
				</tr>
				<tr>
					<td colspan="2">
						Campos marcados con (*) son obligatorios
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					<br/>
						<input type="submit" class="btn btn-primary" value="Registrar Usuario" />
					</td>
				</tr>
			</table>
	</fieldset>

	<fieldset>
		<legend>Opciones </legend>
		<table class="table table-striped table-bordered">
			<tr>
				<td align="center">Id Usuario: </td>
				<td align="center">Nick Name: </td>
				<td align="center">Nombre  		   </td>
			    <td align="center">Tipo Usuario 		   </td>
			    <td align="center">Opciones </td>
			</tr>
			<!-- START ListaUsuarios -->
				<tr>
					<td align="center">{idusuarios} </td>
					<td align="center">{nickname} </td>
					<td align="center">{nombre} {apellidos}</td>
					
					<td align="center">{tipoUsuario}</td>
					<td align="center">
					<a href="/catdog/usuarios/editar?id={idusuarios}">Editar</a> |
					<a href="javascript:void(0);" onclick="validar(event,'{idusuarios}');">Eliminar</a>
					</td>
				</tr>
			<!-- END ListaUsuarios -->
		</table>
	</fieldset>
</form> 
</section>
<script type="text/javascript">
	 $(function(){
	 	window.statusUser = false;
	 	$('#usuarioV').bind('keyup',function(event){


	 		if($('#usuarioV').val().trim().length > 4){

		 		uri = '/catdog/usuarios/validarNickname';
		 		data = {
		 			"usuario":$('#usuarioV').val()
		 		};
		 		httpr = $.post(uri,data,function(user){
		 			if(user.exists){
		 				$('#estatusUsuario').html('<img src="../static/img/error.png" alt="Usuario existe"/>');
		 				window.statusUser = false;
		 			}else{
		 				$('#estatusUsuario').html('<img src="../static/img/ok.png" alt="Usuario disponible"/>');
		 				window.statusUser = true;
		 			}
		 		},"json");
	 		}else{
	 			$('#estatusUsuario').html('<img src="../static/img/error.png" alt="Usuario existe"/>');
		 		window.statusUser = false;
	 		}
	 	});

	 	$('#usuarioV').bind('blur',function(event){
	 		if($('#usuarioV').val().trim().length > 4){

		 		uri = '/catdog/usuarios/validarNickname';
		 		data = {
		 			"usuario":$('#usuarioV').val()
		 		};
		 		httpr = $.post(uri,data,function(user){
		 			if(user.exists){
		 				$('#estatusUsuario').html('<img src="../static/img/error.png" alt="Usuario existe"/>');
		 				window.statusUser = false;
		 			}else{
		 				$('#estatusUsuario').html('<img src="../static/img/ok.png" alt="Usuario disponible"/>');
		 				window.statusUser = true;
		 			}
		 		},"json");
	 		}else{
	 			$('#estatusUsuario').html('<img src="../static/img/error.png" alt="Usuario existe"/>');
		 		window.statusUser = false;
	 		}
	 	});

               urlHandler = new url_handler();
               urlHandler.initialize();
               if(urlHandler.isKey('conf'))
               {
                               $('#AlertaDeExito').html('Registro agregado exitosamente');
                               $('#AlertaDeExito').css('display','block');        
               }
               if(urlHandler.isKey('up'))
               {
               		$('#AlertaDeAdvertencia').html('Registro modificado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
                if(urlHandler.isKey('del'))
               {
               		if(urlHandler.getValue('del')=='ok'){
               			$('#AlertaDeAdvertencia').html('Registro eliminado exitosamente');
                        $('#AlertaDeAdvertencia').css('display','block');
                    }
                    if(urlHandler.getValue('del')=='err'){
               			$('#AlertaDeError').html('No puede eliminar su propia cuenta');
                        $('#AlertaDeError').css('display','block');
                    } 
               }
       });
	   
	   $(function (){
	   		$('#claveV').bind('blur',function(event){
	   			if($('#claveV').val().trim().length < 6){
						$('#estatusClave').html('<img src="../static/img/error.png" alt="clave corta"/>');
					}else{
						$('#estatusClave').html('<img src="../static/img/ok.png" alt="clave aceptable"/>');
					}
	   		});

	   		$('#claveV').bind('keyup',function(event){
	   			if($('#claveV').val().trim().length < 6){
						$('#estatusClave').html('<img src="../static/img/error.png" alt="clave corta"/>');
					}else{
						$('#estatusClave').html('<img src="../static/img/ok.png" alt="clave aceptable"/>');
					}
	   		});

			$('#ingresoUsuarios').on('submit', function() {
				ConfVar= confirm("Esta seguro que desea ingresar un Usuario");
				if(!ConfVar) 
					return false;
				else{
					if(!window.statusUser){
						alert("No ha ingresado un usuario valido :( ");
						return false;
					}
					if($('#claveV').val().trim().length < 6){
						$('#estatusClave').html('<img src="../static/img/error.png" alt="clave corta"/>');
						alert("la clave debe tener como minimo 6 digitos");
						return false;
					}
				}
				});
		});
		
	function validar(event,id)
    {

        cvar= confirm("Esta seguro que desea eliminar dicho registro");
        if (cvar)
        {
            location.href ="/catdog/usuarios/eliminar?id=" + id ;            
        }
    };
	   
</script>