<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/tipoDonacion/panel">Panel</a></li>
            <li class="active">Lista de tipos</li>
</ol>
<table class="table table-striped table-bordered">

	<tr>
		<td>Tipo Donaci&oacute;n</td><td>Descripci&oacute;n</td><td></td>
	</tr>

	<!-- START lista_tipoDonacion -->
		<tr>
			<td>{tipoDonacion}</td><td>{descripcion}</td><td>
			<a href="javascript:void(0);" onclick="validar(event,'{idtipoDonacion}');"><i class="glyphicon glyphicon-remove"></i>
				Eliminar</a>
			|
			<a href="/catdog/tipoDonacion/modificarTipoDonacion?id={idtipoDonacion}"><i class="glyphicon glyphicon-edit"></i>
				Modificar</a>
		</td>
		</tr>
	<!-- END lista_tipoDonacion -->

</table>
<br />
<button class="btn btn-primary" onclick="verLista(event);">Nuevo tipo</button>
<br />
<script>
	function verLista(event)
	{
		event.preventDefault();
		location.href="/catdog/TipoDonacion/formularioIngreso";
	}

	 $(function(){
               urlHandler = new url_handler();
               urlHandler.initialize();
               if(urlHandler.isKey('conf'))
               {
                               $('#AlertaDeExito').html('Registro agregado exitosamente');
                               $('#AlertaDeExito').css('display','block');        
               }
               if(urlHandler.isKey('up'))
               {
               		$('#AlertaDeAdvertencia').html('Registro modificado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
                if(urlHandler.isKey('del'))
               {
               		$('#AlertaDeAdvertencia').html('Registro eliminado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
       });


      function validar(event,id)
    {

        cvar= confirm("Esta seguro que desea eliminar dicho registro");
        if (cvar)
        {
            location.href ="/catdog/tipoDonacion/listarTipoDonacion?id=" + id ;            
        }
    };
 
</script>