<style>
	table td{
		padding-left: 15px;
	}
</style>

<script>

	$(function(){
		$('#formulario').on('submit', function(){

			cvar = confirm("Esta seguro que desea guardar los cambios realizados");
			if (!cvar) return false;

		});
	});


</script>

<form id="formulario" action="/catdog/tipoDonacion/GuardarModificarTipoDonacion" method="POST" >
	<table >

	<!-- START lista_modificar -->
		<tr>
			<td><label>Id: </label></td><td><input type="text" class="form-control" name="idtipoDonacion" value="{idtipoDonacion}" readonly /></td>
		</tr>

		<tr>
			<td><label>*Tipo Donaci&oacute;n: </label></td><td><input class="form-control" type="text" name="tipoDonacion" value="{tipoDonacion}" required/></td>
		</tr>

		<tr>
			<td><label>Descripci&oacute;n: </label></td><td><input class="form-control" type="text" name="descripcion" value="{descripcion}"/></td>
		</tr>

	<!-- END lista_modificar -->
	    <tr>
			<td colspan="2">
				Campos marcados con (*) son obligatorios
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:right;">
				<br/>
				<input type="reset" value="Limpiar" class="btn btn-default"/>
				<input type="submit" value="Guardar" class="btn btn-primary" />	
			</td>
		</tr>
	</table>
</form>