<style>
	table td{
		padding-left: 15px;
	}
</style>


<script>

	$(function(){
		$('#formulario').on('submit', function(){

			cvar = confirm("Esta seguro que desea agregar la vacuna");
			if (!cvar) return false;

		});
	});


</script>
<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/Vacunas/panel">Panel</a></li>
            <li class="active">Nueva Vacuna</li>
</ol>
<form id="formulario" name="formulario" action="/catdog/vacunas/guardarVacunas" method="POST" >
	<table >
		<tr>
			<td><label>*Nombre Vacuna: </label></td>
			<td>
				<input type="text" name="nombreVacuna" class="form-control" required />
			</td>
		</tr>
		
		<tr>
			<td><label>*Frecuencia: </label></td>
						
			<td>
				<input type="text" name="frecuencia" class="form-control" required />
					

			</td>
		</tr>

		<tr>
			<td><label>Descripci&oacute;n: </label></td>
						
			<td>
				<input type="text" name="descripcion" class="form-control" />
					

			</td>
		</tr>
		<tr>
			<td colspan="2">
				Campos marcados con (*) son obligatorios
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:right;">
				<br/>
				<input type="reset" value="Limpiar" class="btn btn-default"/>
				<input type="submit" value="Guardar" class="btn btn-primary"/>	
			</td>
		</tr>
	</table>
</form>