<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/vacunas/panel">Panel</a></li>
            <li class="active">Lista de insumos</li>
</ol>
<table class="table table-striped table-bordered">

	<tr>
		<td>Nombre</td><td>Frecuencia</td><td>Descripci&oacute;n</td><td>Opciones</td>
	</tr>

	<!-- START lista_tipoInsumos -->
		<tr>
			<td>{nombreVacuna}</td><td>{frecuencia}</td><td>{descripcion}</td><td>
			<a href="javascript:void(0);" onclick="validar(event,'{idvacunas}');"><i class="glyphicon glyphicon-remove"></i>
				Eliminar</a>
			|
			<a href="/catdog/vacunas/modificarVacunas?id={idvacunas}"><i class="glyphicon glyphicon-edit"></i>
				Modificar</a>
		</td>
		</tr>
	<!-- END lista_tipoInsumos -->

</table>
<br />
<button class="btn btn-primary" onclick="verLista(event);">Nueva vacuna</button>
<br />

<script type="text/javascript">
  function verLista(event)
  {
    event.preventDefault();
    location.href="/catdog/vacunas/formularioIngreso";
  }

	 $(function(){
               urlHandler = new url_handler();
               urlHandler.initialize();
               if(urlHandler.isKey('conf'))
               {
                               $('#AlertaDeExito').html('Registro agregado exitosamente');
                               $('#AlertaDeExito').css('display','block');        
               }
               if(urlHandler.isKey('up'))
               {
               		$('#AlertaDeAdvertencia').html('Registro modificado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
                if(urlHandler.isKey('del'))
               {
               		$('#AlertaDeAdvertencia').html('Registro eliminado exitosamente');
                               $('#AlertaDeAdvertencia').css('display','block'); 
               }
       });


    function validar(event,id)
    {

        cvar= confirm("Esta seguro que desea eliminar dicho registro");
        if (cvar)
        {
            location.href ="/catdog/vacunas/listarVacunas?id=" + id ;            
        }
    };



</script>