<style>
	table td{
		padding-left: 15px;
	}
</style>
<script>

	$(function(){
		$('#formulario').on('submit', function(){

			cvar = confirm("Esta seguro que desea guardar los cambios realizados");
			if (!cvar) return false;

		});
	});


</script>
<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/vacunas/panel">Panel</a></li>
            <li><a href="/catdog/vacunas/formularioListar">Listado</a></li>
            <li class="active">Modificar vacunas</li>
</ol>
<form id="formulario" name="formulario" action="/catdog/vacunas/GuardarModificarVacunas" method="POST" >
	<table >

	<!-- START lista_modificar -->
		<tr>
			<td><label>Id : </label></td><td><input type="text" class="form-control" name="idvacunas" value="{idvacunas}" readonly /></td>
		</tr>

		<tr>
			<td><label>*Nombre Vacuna: </label></td>
			<td>
				<input type="text" name="nombreVacuna" class="form-control" value="{nombreVacuna}" required />
			</td>
		</tr>
		
		<tr>
			<td><label>Frecuencia: </label></td>
						
			<td>
				<input type="text" name="frecuencia" class="form-control" value="{frecuencia}" />
					

			</td>
		</tr>

		<tr>
			<td><label>Descripci&oacute;n: </label></td>
						
			<td>
				<input type="text" name="descripcion" class="form-control" value="{descripcion}" />
					

			</td>
		</tr>
		<!-- END lista_modificar -->
		<tr>
			<td colspan="2">
				Campos marcados con (*) son obligatorios
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:right;">
				<br/>
				<input type="reset" value="Limpiar" class="btn btn-default"/>
				<input type="submit" value="Guardar" class="btn btn-primary"/>	
			</td>
		</tr>
	</table>
</form>