<style>
	table td{
		padding-left: 15px;
	}
</style>

<script>

	$(function(){
		$('#formulario').on('submit', function(){

			cvar = confirm("Esta seguro que desea agregar la vacuna");
			if (!cvar) return false;

		});
	});


</script>


<ol class="breadcrumb">
            <li><a href="/catdog/sistema/inicio">Inicio</a></li>
            <li><a href="/catdog/tipoInsumos/panel">Panel de tipo Insumo</a></li>
            <li class="active">Nuevo tipo</li>
</ol>
<button class="btn btn-primary" style="float:right;" onclick="verLista(event);">Lista de tipos</button>
<br />
<form id="formulario" action="/catdog/tipoInsumos/guardarTipoInsumos" method="POST" >
	<table >
		<tr>
			<td><label>Tipo Insumo: </label></td><td><input class="form-control" type="text" name="tipoInsumo" /></td>
		</tr>

		<tr>
			<td><label>Medida: </label></td>
			
		
			<td>
					<select name="idMedida" class="form-control">
						<!-- START combo -->
						<option value="{idmedidas}">{nombreMedida} </option>
						<!-- END combo -->
					</select>

			</td>
		</tr>

		<tr>
			<td colspan="2" style="text-align:right;">
				<br/>
				<input type="reset" value="Limpiar" class="btn btn-default"/>
				<input type="submit" value="Guardar" class="btn btn-primary" />	
			</td>
		</tr>
	</table>
</form>
<script>
	function verLista(event)
	{
		event.preventDefault();
		location.href="/catdog/tipoInsumos/formularioListar";
	}
</script>