<h4>Especies </h4>
<table>
<tr class="header">
<th>ID</th>
<th>Especie</th>
</tr>
<!-- START lista -->
<tr>	
	<td>{idespecie}</td>
	<td>{nombreEspecie}</td>	
</tr>
<!-- END lista -->
</table>

<br><br>
<h4>Cantidad de mascotas por especie</h4>
<table width="40%">	
<tr class="header">
<th>Cantidad</th>
<th>Especie</th>
</tr>
<!-- START cantidad -->
<tr>	
	<td>{cantidad}</td>
	<td>{nombreEspecie}</td>	
</tr>
<!-- END cantidad -->
</table>