<h3>Peluditos</h3>
<table>
<tr class="header">
<th>Nombre Peludo</th>
<th>Especie</th>
<th>Genero</th>
<th>Edad</th>
<th>Raza</th>
<th>Castrado</th>
<th>Desparasitado</th>
<th>Fecha Ingreso</th>
<th>Motivo de entrada</th>

</tr>

<!-- START lista -->

<tr>
	
	<td>{nombrePeludo}</td>
	<td>{nombreEspecie}</td>
	<td>{Genero}</td>
	<td>{edadEstimada}</td>
	<td>{nombreRaza}</td>
	<td>{castrado}</td>
	<td>{desparasitado}</td>
	<td>{fechaIngreso}</td>
	<td>{motivoEntrada}</td>

	
</tr>
	
<!-- END lista -->
</table>