<h3>Listado de padrinos</h3>
<table>
<tr class="header">
<th>Nombre Padrino</th>
<th>Telefono</th>
<th>Email</th>
</tr>

<!-- START lista -->

<tr>
	
	<td>{nombrePadrino}</td>
	<td>{telefonoContacto}</td>
	<td>{email}</td>

</tr>
	
<!-- END lista -->
</table>