<h3>Listado de razas</h3>
<table>
<thead>
<tr class="header">
<th>ID</th>
<th>Especie</th>
</tr>
</thead>
<!-- START lista -->
<tr>	
	<td>{idrazas}</td>
	<td>{nombreRaza}</td>	
</tr>
<!-- END lista -->
</table>
<h3>Cantidad de mascotas por raza</h3>
<table>
<thead>
<tr class="header">
<th>Cantidad</th>
<th>Raza</th>
</tr>
</thead>
<!-- START cantidad -->
<tr>	
	<td>{cantidad}</td>
	<td>{nombreRaza}</td>	
</tr>
<!-- END cantidad -->
</table>