
<style>

	table tr{
		width: 1000px;
	}

	table .header{
		border: solid 1px black;  
	}
	table .header th{
		border-bottom: solid 1px black;
		border-top: solid 1px black;
	}

	table .header th:first-child{
		border-left: solid 1px black;
	}

	table .header th:last-child{
		border-right: solid 1px black;
	}

	table .header th{
		padding: 7px;
	}

	table td{
		font-size: 12px;
		padding-top:10px; 
	}

	table td, table th{
		padding-left:15px;
		padding-right:15px;
	}
	table {
		text-align: center;
		border-collapse: collapse;
		font-size: 12px;
		margin: auto;
		margin-right:0px;
		margin-left: 0px;  
	}	

	h3{
		font-size: 14px;
		color:#636363;
	}

</style>
<div style="padding:30px; border: solid 1px #000;border-radius:10px 10px 10px 10px; display:table;">
	<img class="img-circle" style="width:150px;float:left;" src="http://localhost/catdog/static/img/banner.jpg">
	<div style="float:right;margin-left:30px;width:500px;">
		<div style="text-align:right;font-size:11px;">
			Reporte generado por: {username} a las {fecha}
		</div>
		<br/>
		<br/>
		<p style="text-align:center;line-height: 1.5; font-size:12px;">
			CONCIENTIZACION/RESCATE/REHABILITACION/REINSERCION POR ADOPCION.
			"Fundación Hogar de Perros y Gatos Desamparados"
			Conocida como Fundación Cat&Dog El Salvador.
		</p>
		<br/>
		<br/>
	</div>
</div>

{contenido}
<div style="text-align:center;margin-top:50px;padding:40px;font-size:10px;">
		<br/>
		Correo: catdogorganization@hotmail.com
		<br/>
		Para donaciones: donafcatdogsv@hotmail.com
		<br/>
		Banco agricola # 003680330434 a nombre de Patricia Valdez Fundadora
		<br/>
		Bco Citi #001-401-00-017068-4 a nombre de Antonio Valdez Co-Fundador
		<br/>
		Paypal : catdogorganization@hotmail.com
		<br/>
</div>


